*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url('/static/images/bg.png');
    background-size: cover; 
    /* background-position: center center; */
    background-repeat: no-repeat;
    height: 100%;
}
.box{
    display: flex;
    background: transparent;
    background-color:rgb(47, 127, 161,0.2);
    backdrop-filter: blur(80px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* position:relative; */
    width: 600px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    margin-top: 50px;
    min-height: 90vh;
    /* align-self: center; */ 
    border-radius: 30px;

}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;

}
header{
    color:azure;
    font-size: 35px;
    justify-content: center;
    display: flex;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
}

.input{
    height: 45px;
    width: 95%;
    border: none;
    outline:none;
    border-radius: 30px;
    color:azure;
    padding: 0 10px 0px 10px;
    background: rgba(255, 255, 255, 0.4);
}

.input-field{
    display: flex;
    flex-direction: column;
}
::-webkit-input-placeholder{
    color:azure;
    
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 30px;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    background: rgb(0, 255, 255);
    color:azure;
}

#file::-webkit-file-upload-button{
    visibility: hidden;
    align-items: center;
}

#file, input[type="button"], #Color{
    border: 2px;
    border-radius: 30px;
    font-size: 15px;
    height: 30px;
    outline: 1px;
    width: 100%;
    transition: .3s;
    background-color: rgb(255, 255, 255);
    color:black;
    text-align: center;
}

#file{
    padding-top: 5px;
}
#file:hover, input[type="button"], #Color{
    background-color: rgb(0, 255, 255);
    color:azure;  
}
.about{

    font-family: "Popins",sans-serif;
    color:azure;    
    text-align: center;
    font-size: 10px;
}